:root {
    --bg-grad: 0deg, rgb(202, 149, 50), #274e75, black, black, #274e75, rgb(202, 149, 50);
}


body {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--bg-grad));
    background-size: 100vw 200vh;
    position: relative;
}

h1 {
    font-size: 50px;
    font-family: serif;
}

header {
    width: 100%;
    height: 120%;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px #d7d8da;  
}

nav {
    position: relative;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav ul li a {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bolder;
    color: #000000;
}
nav ul li a:hover {
    color: #ffffff;
}

footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.banner {  
    background-color: #d7d8da;
    background-image: url(./images/space-face.png);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}
.portfolio-section {
    margin-top: 30px;
    display: flex;
}

.portfolio-section h2 {
    font-size: 35px;
    font-family: serif;
    font-weight: 100;
    line-height: 40px;
    padding: 5px;
    min-width: 200px;
    height: 60px;
    border: 2px solid rgba(130, 99, 20, 0.536);
    background-color: silver;
}

.portfolio-section .content {
    display: flex;
    flex-wrap: wrap;
    color: #d7d8da;
    position: relative;
    left: 60px;
    margin-right: 20px;
    margin-top: 20px;
    /*border: 2px solid #dad3d3;*/
}

.work-item {
    display: flex;
    min-width: 30vw;
    min-height: 30vh; 
    background-size:contain;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    margin-right: 20px;
    margin-top: 20px;
    bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 1px 2px #000000;
}

.work-item:hover {
    font-size: 200%;
    font-weight: 900;

}

.work-item:first-child {
    min-height: 35vw;
    flex-basis: 80%;
}

.players {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


#cum-fight-vid {
    width:978px;
    height:550px;
}

#prework-study-guide {
    background-image: url("../assets/images/prework-study-guide-screenshot.png");
}

#accessibility-refactor {
    background-image: url("../assets/images/accessibility-refactor.PNG");
}

#third-thing {
    background-image: url("../assets/images/third-thing.png");
}

#fourth-thing {
    background-image: url("../assets/images/fourth-thing.png");
}